<launch>
	<!-- params configuration -->
	<param name="/use_sim_time" value="false"/>


	<!-- xbot base controller -->
	<include file="$(find xbot_bringup)/launch/xbot_sick571.launch">
	</include> 

	<node name="hector_mapping" pkg="hector_mapping" type="hector_mapping">
	</node>


	<!--  ************** Navigation  ***************  -->
	<include file="$(find xbot_slam)/launch/include/move_base.launch.xml"/>

	<!-- explore frontiers -->
	<!--<include file="$(find frontier_exploration)/launch/global_map.launch">

	</include>-->
	<!--  **************** Visualisation ****************  -->
	<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find xbot_slam)/rviz/xbot_slam.rviz" />-->




</launch>
