<launch>
	<!-- params configuration -->
	<param name="/use_sim_time" value="true"/>
	<!-- map_server params -->
	<arg name="map_file"           default=" $(find mapping_xbot)/map/xlab401.yaml"/>
	<!-- amcl params -->
	<arg name="initial_pose_x"     default="3.0"/>
	<arg name="initial_pose_y"     default="3.0"/>
	<arg name="initial_pose_a"     default="0.0"/>
	<arg name="amcl_scan_topic"    default="scan"/>
	<arg name="amcl_use_map_topic" default="true"/>

	<!-- xbot base controller -->
	<include file="$(find xbot_bringup)/launch/xbot_rplidar_asus.launch">
	</include>

	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="/map"/>
	</node>
	<!--  ************** Navigation  ***************  -->
	<include file="$(find xbot_slam)/launch/include/move_base.launch.xml"/>
	<!-- AMCL -->
	<!-- <include file="$(find xbot_slam)/launch/include/amcl.launch.xml">
		<arg name="scan_topic" value="$(arg amcl_scan_topic)"/>
		<arg name="use_map_topic" value="$(arg amcl_use_map_topic)"/>
		<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
		<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
	</include> -->
	<!-- give move base a goal -->
	<!-- <node name="pub_goal" pkg="xbot_slam" type="pub_clicked_goal.py"/> -->




</launch>
